.nuestros-servicios {
    padding: 4rem 12rem 4rem 12rem;

    .title-container-servicios {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: var(--spacing-xxl);

        h1 {
            font-family: var(--font-2);
            font-size: 3rem;
            color: var(--color-primary);
            margin-right: var(--spacing-xxxl);
        }
    }

    .categorias-servicios {
        width: 100%;
        margin-bottom: var(--spacing-xl);

        .contenedor-servicio {
            padding: var(--spacing-xl);
            background: rgba(217, 217, 217, 0.1); /* Color de fondo D9D9D9 al 10% de opacidad */
            margin-top: var(--spacing-lg);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 2rem 2rem 0 0; 
            width: 100%;
            cursor: pointer;

            i {
                color: var(--color-primary);
                font-size: var(--font-size-xxl);
                transition: transform 0.3s ease;
            }

            h1 {
                margin: 0;
            }
        }

        .dropdown-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, padding 0.3s ease;
            padding: 0 10px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-top: none;
            border-radius: 0 0 2rem 2rem;

            p {
                margin: 10px 0;
            }
        }

        &.active {
            .contenedor-servicio i {
                transform: rotate(180deg);
            }

            .dropdown-content {
                max-height: 200px; // Ajusta según el contenido
                padding: 10px 10px;
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .nuestros-servicios {
        padding: 4rem 2rem 4rem 2rem;
    }
}
