.containerTeam{
    background-color: var(--background-color-3);
    padding: 4rem 12rem 4rem 12rem;
}


.team-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div{
        display: flex;
        flex-direction: row;
      
    }

    h1{
        font-family: var(--font-2);
        font-size: var(--font-size-xxxl);
        span{
            font-family: var(--font-1);
            color: var(--color-third);
        }
    }

  

    b {
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 1px var(--color-primary); 
    }
}

.team-selector{
    margin-top: var(--spacing-xl);
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--color-primary);
    justify-content: space-around;
    align-items: center;
     .container-team-selector{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 2rem;
        border: 2px solid var(--color-primary);
        padding: var(--spacing-sm);
        cursor: pointer;

        h3{
            margin-right: var(--spacing-sm);
        }

     }

     .container-team-selector.selected {
        background-color: var(--background-color-3);
        color: var(--color-primary);
    }

    .container-team-selector.unselected {
        background: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);

    }
}

.team-members{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: var(--spacing-xxl);
}