
:root{
    --color-primary: #fff;
    --color-secondary: #000;
    --color-third: #FF30D0;
    --background-color-1: #ffff;
    --background-color-2: #090042;
    --background-color-3: #0000;
    
    /* Fuentes */

    --font-1: 'League Spartan'; 

    /* Tamaños de fuente */
    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-xxl: 1.5rem; /* 24px */
    --font-size-xxxl: 3rem; /* 32px */
    --font-size-span: 5rem;

    /* Espaciados */
    --spacing-xs: 0.25rem; /* 4px */
    --spacing-sm: 0.5rem; /* 8px */
    --spacing-md: 1rem; /* 16px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 2rem; /* 32px */
    --spacing-xxl: 4rem; /* 48px */
}   


html,body{
    background-color: var(--background-color-2);
    font-family: var(--font-1);
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'nav/navStyle';
@import 'init/init';