@charset "UTF-8";
@font-face {
  font-family: "Phonk Contrast";
  src: url("../fonts/Phonk Contrast DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Phonk Regular";
  src: url("../fonts/Phonk Regular DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-third: #FF30D0;
  --background-color-1: #ffff;
  --background-color-2: #090042;
  --background-color-3: #000;
  --background-color-4: #FF30D0;
  /* Fuentes */
  --font-1: "League Spartan";
  --font-2: "Phonk Regular";
  /* Tamaños de fuente */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-xxl: 1.5rem; /* 24px */
  --font-size-xxxl: 3rem; /* 32px */
  --font-size-xxxxl: 4rem; /* 48px */
  --font-size-span: 8rem;
  /* Espaciados */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-xxl: 4rem; /* 48px */
  --spacing-xxxl: 8rem; /* 48px */
  --spacing-xxxxl: 12rem; /* 48px */
}

html, body {
  background-color: var(--background-color-2);
  font-family: var(--font-1);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: all 0.3s ease;
}

h1 {
  color: var(--color-primary);
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--spacing-lg);
  justify-content: space-around;
  align-items: center;
  position: relative; /* Añadido para que la posición absoluta funcione correctamente */
}

.logo-nav {
  width: 20%;
}

.logo-nav img {
  width: 100%;
}

.servicios-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80%;
  background-color: var(--background-color-2);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%); /* Inicialmente fuera de la pantalla */
  z-index: 999;
}
.servicios-container ul {
  display: flex;
  flex-direction: row;
}
.servicios-container ul li {
  list-style: none;
  margin-right: var(--spacing-lg);
  text-align: center;
}
.servicios-container ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-family: var(--font-1);
  font-weight: medium;
  transition: all 0.3s ease;
}
.servicios-container ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Efecto de resplandor */
}
.servicios-container ul li a:active {
  text-shadow: 0 0 20px rgb(255, 255, 255); /* Resplandor más intenso al hacer clic */
}
.servicios-container.active {
  transform: translateX(0); /* Muestra el menú */
}

.servicios-container-2 {
  display: flex;
  flex-direction: row;
  width: 30%;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}
.servicios-container-2 ul {
  display: flex;
  flex-direction: row;
}
.servicios-container-2 ul li {
  list-style: none;
  margin-right: var(--spacing-lg);
  text-align: center;
}
.servicios-container-2 ul li a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-family: var(--font-1);
  font-weight: medium;
  transition: all 0.3s ease;
}
.servicios-container-2 ul li a:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Efecto de resplandor */
}
.servicios-container-2 ul li a:active {
  text-shadow: 0 0 20px rgb(255, 255, 255); /* Resplandor más intenso al hacer clic */
}

.botton-contactanos {
  background-color: var(--color-primary);
  border-radius: 2rem;
  padding: var(--spacing-md);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.botton-contactanos a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.botton-contactanos i {
  color: var(--color-secondary);
}
.botton-contactanos:hover {
  background-color: #ff63dc;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-lg);
  z-index: 1001;
}
.hamburger-menu i {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
}

.close-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1002;
}
.close-menu i {
  font-size: var(--font-size-xxl);
  color: var(--color-primary);
}
.close-menu.active {
  display: block;
}

.calendly {
  width: 100%;
  margin-top: var(--spacing-lg);
}
.calendly iframe::-webkit-scrollbar {
  display: none;
}

[data-id=unique-id] {
  display: none;
}

/* Ocultar la scrollbar en navegadores WebKit */
.calendly::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 680px) {
  html, body {
    overflow-x: hidden;
  }
  .servicios-container-2 {
    display: none !important;
  }
  .nav-principal {
    flex-direction: column;
  }
  .nav-principal .logo-nav {
    width: 60%;
  }
  .nav-principal .hamburger-menu {
    display: block;
    position: absolute;
    top: var(--spacing-md);
    right: var(--spacing-lg);
  }
  .nav-principal .servicios-container {
    justify-content: space-around;
    margin-bottom: var(--spacing-lg);
  }
  .nav-principal .servicios-container ul {
    justify-content: space-around;
    margin-top: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    padding: var(--font-size-xl);
  }
  .nav-principal .servicios-container ul li {
    margin-top: var(--spacing-lg);
    width: 20%;
  }
  .nav-principal .servicios-container ul li a {
    font-size: var(--font-size-xxl);
  }
  .nav-principal .servicios-container ul li:hover {
    background-color: var(--color-primary);
    border-radius: 2rem;
  }
  .nav-principal .servicios-container ul li:hover a {
    color: var(--color-secondary);
  }
  .nav-principal .botton-contactanos {
    display: none;
  }
  .nav-principal .close-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .servicios-container-2 {
    display: none !important;
  }
  .servicios-container {
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
  }
  .servicios-container.active {
    display: block;
    transform: translateX(0); /* Muestra el menú */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-xl);
}

.init-container {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.title-container .title2-container {
  margin-bottom: var(--spacing-xl);
  width: 100%;
}
.title-container .title2-container h1 {
  font-size: 10vh;
  font-weight: 700;
  text-align: center;
}
.title-container .title2-container h1 span {
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-stroke: 1px black;
}
.title-container .title2-container .title-dias {
  font-family: var(--font-1);
  color: var(--color-third);
  font-size: var(--font-size-span);
  margin-top: var(--spacing-xxl);
  font-weight: 700;
  align-items: center;
  text-align: center;
}

.temporizador-container {
  width: 100%;
  text-align: center;
  color: var(--color-primary);
  margin-top: var(--spacing-xxl);
}
.temporizador-container h3 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: var(--spacing-md);
}
.temporizador-container h3 span {
  color: var(--color-third);
}

@media only screen and (max-width: 600px) {
  .init-container {
    width: 80%;
  }
  .title2-container h1 {
    font-size: 4vh !important;
  }
  .title-dias {
    font-size: 6vh !important;
  }
}
.divisor-1 {
  height: 6rem;
  background-color: var(--color-primary);
  /* Eliminamos la línea de borde */
  /* border: 1px solid var(--color-secondary); */
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-xxxl);
  padding: var(--spacing-md);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;
  font-family: var(--font-2);
  transform: rotate(3deg);
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra */
}

.divisor-2 {
  height: 6rem;
  background-color: var(--color-primary);
  /* Eliminamos la línea de borde */
  /* border: 1px solid var(--color-secondary); */
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-xxxl);
  padding: var(--spacing-md);
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: block;
  font-family: var(--font-2);
  transform: rotate(-4deg);
  top: -7rem;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra */
}

.divisor-1, .divisor-2 {
  overflow: hidden; /* Esconde el texto que sale del contenedor */
}

.divisor-1 span, .divisor-2 span {
  display: inline-block;
  white-space: nowrap; /* Mantiene todo el texto en una sola línea */
}

.divisor {
  width: 100%;
  margin-top: var(--spacing-xxxl);
  background-color: var(--background-color-4);
}

.sobre-nosotros {
  width: 100%;
  background-color: var(--background-color-2);
  padding: 0 var(--spacing-xxxxl) 0 var(--spacing-xxxxl);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: var(--color-primary);
  padding-bottom: var(--spacing-xl);
}
.sobre-nosotros .columns-sobre {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.sobre-nosotros .columns-sobre h2 {
  font-family: var(--font-2);
  font-size: 2rem;
  color: var(--color-primary);
  width: 100%;
}
.sobre-nosotros .columns-sobre .container-video {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: var(--spacing-xl);
}
.sobre-nosotros .columns-sobre .container-video img {
  width: 100%;
  height: auto;
}
.sobre-nosotros .columns-sobre p {
  color: var(--color-primary);
}
.sobre-nosotros .columns-sobre .marketeros-text {
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-size-xl);
}
.sobre-nosotros .columns-sobre .marketeros-text b {
  color: var(--color-third);
}

.toggle {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin-top: var(--spacing-xl);
  background: rgba(41, 41, 41, 0.4); /* Color de fondo casi transparente */
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
}
.toggle .toggle-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.toggle .toggle-title h2 {
  font-family: var(--font-2);
  font-size: 2.5rem;
  width: 10%;
  text-align: center;
}
.toggle .toggle-title p {
  font-size: var(--font-size-xl);
  width: 30%;
  text-align: center;
}
.toggle .toggle-title i {
  font-size: 1rem;
}
.toggle .container-toggle {
  margin-top: var(--spacing-md);
}

.bottom-descubre-mas {
  height: 6vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 3vh 4vh 3vh;
  border-radius: 1rem;
}

@media only screen and (max-width: 600px) {
  .sobre-nosotros {
    padding: 2rem;
    flex-direction: column;
  }
  .sobre-nosotros .columns-sobre {
    width: 100%;
  }
  .sobre-nosotros .marketeros-text {
    margin-top: var(--spacing-xl);
  }
}
.nuestros-servicios {
  padding: 4rem 12rem 4rem 12rem;
}
.nuestros-servicios .title-container-servicios {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--spacing-xxl);
}
.nuestros-servicios .title-container-servicios h1 {
  font-family: var(--font-2);
  font-size: 3rem;
  color: var(--color-primary);
  margin-right: var(--spacing-xxxl);
}
.nuestros-servicios .categorias-servicios {
  width: 100%;
  margin-bottom: var(--spacing-xl);
}
.nuestros-servicios .categorias-servicios .contenedor-servicio {
  padding: var(--spacing-xl);
  background: rgba(217, 217, 217, 0.1); /* Color de fondo D9D9D9 al 10% de opacidad */
  margin-top: var(--spacing-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  cursor: pointer;
}
.nuestros-servicios .categorias-servicios .contenedor-servicio i {
  color: var(--color-primary);
  font-size: var(--font-size-xxl);
  transition: transform 0.3s ease;
}
.nuestros-servicios .categorias-servicios .contenedor-servicio h1 {
  margin: 0;
}
.nuestros-servicios .categorias-servicios .dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.3s ease;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 2rem 2rem;
}
.nuestros-servicios .categorias-servicios .dropdown-content p {
  margin: 10px 0;
}
.nuestros-servicios .categorias-servicios.active .contenedor-servicio i {
  transform: rotate(180deg);
}
.nuestros-servicios .categorias-servicios.active .dropdown-content {
  max-height: 200px;
  padding: 10px 10px;
}

@media only screen and (max-width: 620px) {
  .nuestros-servicios {
    padding: 4rem 2rem 4rem 2rem;
  }
}
.clientes {
  background-color: var(--background-color-2);
  padding: 4rem 12rem 4rem 12rem;
}
.clientes h1 {
  font-family: var(--font-2);
  font-size: var(--font-size-xxxl);
}
.clientes h1 span {
  font-family: var(--font-1);
  color: var(--color-third);
}
.clientes p {
  font-family: var(--font-1);
  color: var(--color-primary);
  width: 40%;
}
.clientes p b {
  color: var(--color-third);
}
.clientes .clientes-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clientes .clientes-title div {
  display: flex;
  flex-direction: row;
}
.clientes .clientes-title p {
  font-size: var(--font-size-x xl);
}

.clients-selector {
  margin-top: var(--spacing-xl);
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--color-primary);
  justify-content: space-around;
  align-items: center;
}
.clients-selector .container-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2rem;
  border: 2px solid var(--color-primary);
  padding: var(--spacing-sm);
  cursor: pointer;
}
.clients-selector .container-selector.selected {
  background-color: var(--background-color-3);
  color: var(--color-primary);
}
.clients-selector .container-selector.unselected {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.container-clients {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-xxl);
}
.container-clients .row-clients {
  margin-top: var(--spacing-xl);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-clients .row-clients img {
  border-radius: 1rem;
}

@media only screen and (max-width: 620px) {
  .clientes {
    padding: 4rem 2rem 4rem 2rem;
  }
  .clientes-title {
    flex-direction: column !important;
  }
  .clientes-title p {
    width: 100%;
    margin-top: var(--spacing-md);
  }
  .clients-selector {
    flex-direction: column !important;
  }
  .clients-selector .container-selector {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-md);
  }
  .container-clients {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-clients .row-clients {
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    margin-top: 0;
  }
  .container-clients .row-clients img {
    width: 80%;
    margin-bottom: var(--spacing-sm);
  }
}
.containerTestimonios {
  background-color: var(--background-color-3);
  padding: 4rem 12rem 4rem 12rem;
}
.containerTestimonios .testimonios-title {
  display: flex;
  flex-direction: row;
}
.containerTestimonios .testimonios-title h1 {
  font-family: var(--font-2);
  font-size: var(--font-size-xxxl);
  margin-right: var(--spacing-xxl);
}

.testimonios-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-xxl);
  color: var(--color-primary);
}
.testimonios-container .testimonios-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.testimonios-container .testimonios-row .testimonio {
  border: 2px solid var(--color-primary);
  padding: var(--spacing-md);
  width: 45%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
}
.testimonios-container .testimonios-row .testimonio p {
  color: var(--color-primary);
}
.testimonios-container .testimonios-row .testimonio .testimonial-footer {
  display: flex;
  margin-top: var(--spacing-md);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.testimonios-container .testimonios-row .testimonio .testimonial-footer span {
  color: var(--color-third);
}
.testimonios-container .testimonios-row .testimonio .testimonial-person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--spacing-md);
}

@media only screen and (max-width: 600px) {
  .containerTestimonios {
    padding: 4rem 2rem 4rem 2rem;
  }
  .testimonios-title {
    flex-direction: column !important;
  }
  .testimonios-title h1 {
    font-size: var(--font-size-xxl) !important;
    margin-bottom: var(--spacing-md);
  }
  .testimonios-container .testimonios-row {
    flex-direction: column !important;
  }
  .testimonios-container .testimonios-row .testimonio {
    width: 100%;
  }
}
.containerTeam {
  background-color: var(--background-color-2);
  padding: 4rem 12rem 4rem 12rem;
}

.team-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team-title div {
  display: flex;
  flex-direction: row;
}
.team-title h1 {
  font-family: var(--font-2);
  font-size: var(--font-size-xxxl);
}
.team-title h1 span {
  font-family: var(--font-1);
  color: var(--color-third);
}
.team-title b {
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--color-primary);
}

.team-selector {
  margin-top: var(--spacing-xl);
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--color-primary);
  justify-content: space-around;
  align-items: center;
}
.team-selector .container-team-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2rem;
  border: 2px solid var(--color-primary);
  padding: var(--spacing-sm);
  cursor: pointer;
}
.team-selector .container-team-selector h3 {
  margin-right: var(--spacing-sm);
}
.team-selector .container-team-selector.selected {
  background-color: var(--background-color-3);
  color: var(--color-primary);
}
.team-selector .container-team-selector.unselected {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: var(--spacing-xxl);
}

@media only screen and (max-width: 620px) {
  .containerTeam {
    padding: 4rem 2rem 4rem 2rem;
  }
  .team-selector {
    flex-direction: column;
  }
  .team-selector .container-team-selector {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-md);
  }
  .team-members {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .team-members img {
    width: 35%;
  }
}
.footerContainer {
  padding: 4rem 12rem 4rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerContainer .footer-title {
  width: 90%;
  color: var(--color-primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footerContainer .footer-title h1 {
  font-family: var(--font-1);
  font-weight: 700;
  text-align: center;
  font-size: var(--font-size-xxxxl);
  margin-bottom: var(--spacing-md);
}
.footerContainer .footer-title .footer-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerContainer .footer-title .footer-text p {
  text-align: center;
  font-size: var(--font-size-xl);
  width: 70%;
  margin-top: var(--font-size-xl);
}

.info-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: var(--spacing-xxl);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: var(--spacing-xl);
  width: 60%;
}

.redes {
  color: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
}
.redes i {
  font-size: var(--font-size-xxl);
  cursor: pointer;
}

.white-text {
  color: white;
  opacity: 0;
}

.pink-text {
  color: var(--color-third);
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    padding: 4rem 2rem 4rem 2rem;
  }
  .footer-title h1 {
    font-size: var(--font-size-xxxl) !important;
  }
  .info-contacto {
    width: 100%;
    flex-direction: column;
    margin-bottom: var(--spacing-xl);
  }
  .info-contacto div {
    margin-top: var(--spacing-md);
  }
  .nav-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-footer .logo-nav {
    width: 60%;
  }
  .nav-footer .servicios-container {
    justify-content: center;
    align-items: center;
  }
  .nav-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--spacing-md);
  }
  .nav-footer ul li {
    text-align: center;
    font-size: var(--font-size-sm);
    margin-right: 0;
    width: 20%;
  }
  .redes {
    width: 100%;
    justify-content: center;
    margin-top: var(--spacing-md);
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */